In [1]:
import pandas as pd
import numpy as np
import glob
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
def ooi_kd_calc(df):
    # pull out depth and par (log for calculation)
    z = np.abs(df['z'].to_numpy())
    par = df['par'].to_numpy()
    par[(par<=0) | np.isnan(par)] = 1
    # sort by depth correctly
#     par = par[np.argsort(z)]
#     z = z[np.argsort(z)]
    
    # calc ln of par 
    par = np.log(par)
    # calculate Kd from the log-linear slope of the light decay
    fit = stats.linregress(x=z,y=par)
    par_pred = fit.slope*z + par[0]
    kd = np.abs(fit.slope)
    rval = fit.rvalue
    stderr=np.exp(fit.stderr)

    return kd,rval,stderr

In [3]:
# calculate Kd from OOI data


FF = glob.glob('data/data*.csv')
FF.sort()

ooi_kd_array = pd.DataFrame(data=None,
                            index=range(len(FF)),
                            columns=['time','lat','lon','kd','rval','stderr','stn']
                           )

for jj in range(len(FF)):
    df = pd.read_csv(FF[jj],
                     index_col=0,
                     header=0,
                     usecols=[i for i in range(6)],
                     names=['', 'time', 'lat', 'lon', 'z', 'par']
                    ) #
    ooi_kd_array.loc[jj,'stn'] = FF[jj][9:-4]
    
    try:
        kd,rval,stderr = ooi_kd_calc(df)
    except:
        kd = np.nan
        rval = np.nan
        stderr = np.nan

    time = df.loc[1,'time']
    lat = df.loc[1,'lat']
    lon = df.loc[1,'lon']

    ooi_kd_array.loc[jj,'time'] = time
    ooi_kd_array.loc[jj,'lat'] = lat
    ooi_kd_array.loc[jj,'lon'] = lon
    ooi_kd_array.loc[jj,'kd'] = kd
    ooi_kd_array.loc[jj,'rval'] = rval
    ooi_kd_array.loc[jj,'stderr'] = stderr


# pd.DataFrame()
# d = {'time' = ff[0,1],'kd': m, 'rval': rval, 'stderr': stderr}
# df = pd.DataFrame(data=d)

ooi_kd_array.to_csv('results/ooi_kdcalculations.csv')
ooi_kd_array

,time,lat,lon,kd,rval,stderr,stn
0,2019-06-03T07:59:00Z,44.6589,-124.09595,0.140367,-0.223163,1.106053,_ooi-ce01issp-sp001-10-paradj000_2019-06-03T06...
1,2019-08-06T20:00:00Z,44.6589,-124.09595,0.395541,-0.98714,1.015657,_ooi-ce01issp-sp001-10-paradj000_2019-08-06T15...
2,2020-08-04T02:20:00Z,44.6589,-124.09595,0.192614,-0.578791,1.040824,_ooi-ce01issp-sp001-10-paradj000_2020-08-03T22...
3,2021-07-04T08:00:00Z,44.6589,-124.09595,0.127788,-0.254607,1.084256,_ooi-ce01issp-sp001-10-paradj000_2021-07-04T06...
4,2021-08-02T08:03:00Z,44.6589,-124.09595,0.000062,-0.874119,1.000008,_ooi-ce01issp-sp001-10-paradj000_2021-08-02T05...
...,...,...,...,...,...,...,...
360,2023-12-21T23:33:00Z,45.816712,-129.754055,0.0,0.0,1.0,_ooi-rs03axps-sf03a-3c-parada301_2023-12-21 23...
361,2023-12-28T11:31:00Z,45.816712,-129.754055,0.004414,-0.139372,1.000633,_ooi-rs03axps-sf03a-3c-parada301_2023-12-28 11...
362,2024-03-21T19:11:00Z,45.816712,-129.754055,0.010257,-0.34197,1.000575,_ooi-rs03axps-sf03a-3c-parada301_2024-03-21 19...
363,2024-03-28T07:11:00Z,45.816712,-129.754055,0.004171,-0.156913,1.000544,_ooi-rs03axps-sf03a-3c-parada301_2024-03-28 07...
364,2024-06-27T02:51:00Z,45.816712,-129.754055,0.005165,0.256901,1.000404,_ooi-rs03axps-sf03a-3c-parada301_2024-06-27 02...

In [3]:
# calculate kd for all of gulf of mexico ctd profiles 
FF = glob.glob('data/data*.csv')
FF.sort()

ws_kd_array = pd.DataFrame(data=None,
                            index=range(len(FF)),
                            columns=['time','lat','lon','kd','rval','stderr','stn']
                           )

for jj in range(len(FF)):
    df = pd.read_csv(FF[jj],
                     index_col=0,
                     header=0,
                     usecols=[i for i in [0,2,3,4,5,6,28]],
                     names=['','prof', 'time', 'lat', 'lon', 'z', 'par']
                    )
    ws_kd_array.loc[jj,'stn'] = FF[jj][12:-4]
    
    try:
        kd,rval,stderr = ooi_kd_calc(df)
    except:
        kd = np.nan
        rval = np.nan
        stderr = np.nan

    time = df.loc[1,'time']
    lat = df.loc[1,'lat']
    lon = df.loc[1,'lon']

    ws_kd_array.loc[jj,'time'] = time
    ws_kd_array.loc[jj,'lat'] = lat
    ws_kd_array.loc[jj,'lon'] = lon
    ws_kd_array.loc[jj,'kd'] = kd
    ws_kd_array.loc[jj,'rval'] = rval
    ws_kd_array.loc[jj,'stderr'] = stderr



pname = 'results/'
ws_kd_array.to_csv(pname+'ws_kdcalculations.csv')
ws_kd_array

,time,lat,lon,kd,rval,stderr,stn
0,2018-12-18T09:10:05Z,24.671667,-81.203833,0.486118,-0.944229,1.004017,18351_WS18351_STA16_2018-12-18 03:10:05+00:00
1,2018-12-18T08:19:41Z,24.597167,-81.181333,0.681439,-0.740025,1.010011,18351_WS18351_STA18_2018-12-18 02:19:41+00:00
2,2020-08-20T00:54:19Z,25.404333,-82.2105,0.000122,-0.005332,1.000413,20231_WS20231_STA_30_2020-08-19 18:54:19+00:00
3,2020-10-09T09:36:26Z,26.632167,-82.5595,1.281848,-0.801846,1.017906,20279_WS20279_WS20278_Stn_BG4_2020-10-09 03:36...
4,2020-10-09T07:06:32Z,26.577167,-82.499167,1.95134,-0.903889,1.018198,20279_WS20279_WS20278_Stn_RP4_2020-10-09 01:06...
5,2021-04-04T20:59:47Z,25.347667,-81.655167,0.095027,-0.426382,1.003679,21093_WS21093_STN_57_3_2021-04-04 14:59:47+00:00
6,2022-05-25T12:17:32Z,27.617333,-83.2995,0.007681,-0.327918,1.000349,22141_WS22141_WS22141_Stn_TB5_2022-05-25 06:17...
7,2022-10-13T07:38:11Z,25.731833,-81.574667,0.322964,-0.621938,1.007433,22281_WS22281_Stn041_2022-10-13 01:38:11+00:00
8,2022-12-06T16:47:57Z,27.494333,-82.752333,0.073917,-0.479937,1.002323,22337_WS22337_WS22337_Stn_AMI1_2022-12-06 10:4...
9,2022-12-06T15:46:50Z,27.458333,-82.8465,0.033525,-0.399525,1.001226,22337_WS22337_WS22337_Stn_AMI2_2022-12-06 09:4...
10,2022-12-06T14:54:14Z,27.421667,-82.941833,0.01491,-0.339236,1.000598,22337_WS22337_WS22337_Stn_AMI3_2022-12-06 08:5...
11,2022-12-06T19:31:24Z,27.796667,-82.879667,0.178231,-0.59098,1.004571,22337_WS22337_WS22337_Stn_TB1_2022-12-06 13:31...
12,2022-12-06T20:09:35Z,27.7405,-82.928333,0.064517,-0.448053,1.0023,22337_WS22337_WS22337_Stn_TB2_2022-12-06 14:09...
13,2023-03-07T10:34:34Z,28.011667,-83.075833,0.019044,-0.353314,1.000776,23061_WS23061_WS23061_Kelble_Stn_CW4_2023-03-0...

In [4]:
# Process BCODMO data : only keep unique entries to search ICESat-2
FF = glob.glob('bcodmo/*.csv')
FF.sort()

for jj in range(len(FF)):
    df = pd.read_csv(FF[jj],header=0)
    df.drop(0,inplace=True)
    df = df.drop_duplicates(subset=['time'])
    df.reset_index(drop=True, inplace=True)

    print(FF[jj])
    print(df.head())
    
    fname = FF[jj][:-4]+'_unique.pkl'
    df.to_pickle(fname)

bcodmo/bcodmo_dataset_518582_2e2e_e9a0_6c3e.csv
  cast latitude  longitude depth_w                  time     par
0   01   21.391  -158.2908    1323  2013-07-02T04:14:31Z  383.36
1   01    22.75  -158.0002    4743  2013-07-02T21:55:50Z  3588.1
2   02    22.75  -158.0003    4742  2013-07-03T13:53:21Z  2.2892
3   01  24.0882   -157.999    4496  2013-07-03T21:56:40Z  1001.3
4   01  27.0658  -157.9975    5392  2013-07-04T13:59:16Z  1.9284
bcodmo/bcodmo_dataset_757784_f8fc_ca99_ecce.csv
  Station       Site                  time depth     Par  latitude  longitude
0     001  Shakedown  2018-05-07T17:46:00Z   3.0  1460.0  11.24758  -56.32338
1     001  Shakedown  2018-05-07T17:47:00Z   7.0   169.0  11.24768  -56.32336
2     001  Shakedown  2018-05-07T17:48:00Z  30.0    45.1  11.24788  -56.32324
3     001  Shakedown  2018-05-07T17:49:00Z  56.0    14.8  11.24816  -56.32307
4     001  Shakedown  2018-05-07T17:50:00Z  85.0    3.71  11.24842  -56.32296
bcodmo/bcodmo_dataset_774958_89bb_d996_f2f0.csv
  cast latitude longitude                  time   depth      PAR
0    1  32.1698  -64.5028  2019-05-20T15:52:16Z  15.062   315.99
1    2  32.1748  -64.4947  2019-05-21T07:11:03Z  11.639  1.0E-12
2    3   32.274     -64.5  2019-05-21T14:06:26Z  14.377    112.6
3    4   32.571  -64.6463  2019-05-21T19:43:48Z  13.007   103.71
4    5  32.4745  -64.5273  2019-05-22T13:57:02Z  14.377   54.236
bcodmo/bcodmo_dataset_783911_2f9c_8b20_d8a3.csv
  Station                  time  depth PAR_Irradiance   latitude  longitude
0       1  2017-12-26T19:16:13Z  0.987          594.0  -64.72202  -87.27946
1       1  2017-12-26T19:16:17Z  1.979          514.0  -64.72202  -87.27946
2       1  2017-12-26T19:16:19Z  2.973          458.0  -64.72202  -87.27946
3       1  2017-12-26T19:16:22Z  3.957          399.0  -64.72202  -87.27946
4       1  2017-12-26T19:16:25Z  4.954          370.0  -64.72202  -87.27946
bcodmo/bcodmo_dataset_784290_eebd_40d0_b2f6.csv
  Sta_Sequence Station  latitude  longitude Water_Depth                  time  \
0            1      WF  29.14812  -94.79963        15.9  2017-09-23T00:32:00Z
1            2      GI    29.066  -94.90167        16.2  2017-09-23T01:51:00Z
2            3      SS  28.95975    -95.094       16.57  2017-09-23T03:27:00Z
3            4     S21  28.76455  -95.29817         NaN  2017-09-23T05:29:00Z
4            4     S21  28.76455  -95.29817         NaN  2017-09-23T08:29:00Z

  PAR_Irradiance
0            NaN
1            NaN
2            NaN
3            NaN
4           0.16
bcodmo/bcodmo_dataset_807119_af4f_a794_1c25.csv
   latitude  longitude                  time     par  depth
0   40.2705  -70.82917  2018-04-27T00:19:24Z  1.1092  3.969
1  40.20583  -70.82883  2018-04-27T01:06:29Z  1.6557  2.977
2    40.141  -70.82983  2018-04-27T01:53:55Z  1.0538  2.977
3    40.076  -70.82867  2018-04-27T02:43:26Z  1.2449  3.969
4    40.011  -70.82833  2018-04-27T03:33:33Z  1.4921  1.985
bcodmo/bcodmo_dataset_815732_68e0_5c4d_62dc.csv
  Cast_ID                  time   latitude   longitude depth PAR_Irradiance
0       1  2015-03-16T15:56:47Z  31.032117  -76.343633   2.0         1417.0
1       2  2015-03-16T17:50:10Z  31.005317  -76.334083   2.0         -379.4
2       3  2015-03-16T19:54:54Z  31.052872  -76.597728   2.0         1350.0
3       4  2015-03-17T11:53:17Z   31.05692  -76.591803   3.0           54.1
4       5  2015-03-17T15:30:57Z  31.075522  -76.849018   2.0         1590.0
bcodmo/bcodmo_dataset_874909_v1_8bf6_bf9e_ab56.csv
    latitude  longitude                  time Station  depth PAR_Irradiance
0  -76.45435  167.91856  2018-02-11T19:19:00Z      67  0.989         838.72
1  -74.74383   170.3741  2018-02-13T21:25:00Z      70  0.989         4108.9
2  -74.80015  164.39491  2018-02-14T22:28:00Z      72  0.988         2313.2
3   -74.7991  164.59668  2018-02-16T20:15:00Z      76  0.963         732.07
4  -74.69552  164.79597  2018-02-17T20:34:00Z      78  0.989         860.87
bcodmo/bcodmo_dataset_908342_v1_7e78_d78e_c5cc.csv
  Station   latitude   longitude                  time        par
0    9001   -56.5005  -140.70284  2021-02-02T03:45:31Z     40.389
1    9101  -56.00383  -140.50467  2021-02-02T07:42:22Z  -0.001258
2    9201   -53.4965   -137.0215  2021-02-03T09:27:45Z    0.98411
3    9301  -53.78167  -137.52467  2021-02-03T13:03:40Z    1.0E-12
4    9401  -54.07917   -138.0225  2021-02-03T16:28:53Z     105.03
bcodmo/bcodmo_dataset_915709_v1_1cbb_6b39_1f21.csv
  CTD_Cast      Par  latitude  longitude                  time
0        1  1.0E-12   42.4245  -69.75144  2021-08-04T04:48:02Z
1        1  1.0E-12  42.42576  -69.75328  2021-08-04T04:41:36Z
2        1  1.0E-12   42.4259  -69.75348  2021-08-04T04:40:54Z
3        1  1.0E-12  42.42618  -69.75387  2021-08-04T04:39:34Z
4        1  1.0E-12  42.42645  -69.75429  2021-08-04T04:38:14Z

In [20]:
# Process BCODMO data
FF = glob.glob('bcodmo/*.csv')
FF.sort()

# ws_kd_array = pd.DataFrame(data=None,
#                             index=range(len(FF)),
#                             columns=['time','lat','lon','kd','rval','stderr','stn']
#                            )
jj = 1

df = pd.read_csv(FF[jj],
                 header=0)
df = df.drop_duplicates(subset=['time'])
df.head()

,Station,Site,time,depth,Par,latitude,longitude
0,unitless,unitless,UTC,m,micromoles photons per square meter per second...,degrees_north,degrees_east
1,001,Shakedown,2018-05-07T17:46:00Z,3.0,1460.0,11.24758,-56.32338
5,001,Shakedown,2018-05-07T17:47:00Z,7.0,169.0,11.24768,-56.32336
28,001,Shakedown,2018-05-07T17:48:00Z,30.0,45.1,11.24788,-56.32324
54,001,Shakedown,2018-05-07T17:49:00Z,56.0,14.8,11.24816,-56.32307