Goal: break down 6k list of data sources by type (buoy, glider, ship) and data (chl|turb|sedi|par|phot|secchi|ssc)

Order of operations:
- load all_relevant_stations.pkl
- sort by chl|turb|sedi|par|phot|secchi|ssc
- sort those by buoy/glider/ship

In [15]:
from erddapy import ERDDAP
import pandas as pd
import numpy as np
import urllib.request
import json 
import re

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [16]:
searchterms = 
# load a list of all the relevant ERDDAPs and their urls.
FF = pd.read_pickle("all_relevant_stations.pkl")
FF.loc[1000]

idx = df["Variable Name"].str.contains(searchterms, flags = re.IGNORECASE)

sites                             exploratorium-pco2-buoy
url                     http://erddap.cencoos.org/erddap/
time_coverage_start                  2013-05-08T22:47:00Z
time_coverage_end                    2024-07-01T16:17:00Z
geospatial_lat_min                                37.8019
geospatial_lat_max                                37.8019
geospatial_lon_min                              -122.3978
geospatial_lon_max                              -122.3978
geospatial_lat_units                        degrees_north
geospatial_lon_units                         degrees_east
check_sum                                             1.0
Name: 1000, dtype: object

In [18]:
# make the info URL for this site for this time range
jj = 1000
e = ERDDAP(server=FF['url'][jj],
           protocol="tabledap",
           response="csv"
          )
e.dataset_id = FF['sites'][jj]
# e.constraints = {"time>=": min_time, "time<=": max_time}
info_url = e.get_info_url()
ds_info = pd.read_csv(info_url)# make a dataframe for all the metadata for this station
ds_info

,Row Type,Variable Name,Attribute Name,Data Type,Value
0,attribute,NC_GLOBAL,cdm_data_type,String,TimeSeries
1,attribute,NC_GLOBAL,cdm_timeseries_variables,String,"station,longitude,latitude"
2,attribute,NC_GLOBAL,contributor_email,String,"dana.greeley@noaa.gov,cencoos_communications@m..."
3,attribute,NC_GLOBAL,contributor_name,String,"NOAA Pacific Marine Environmental Lab (PMEL),C..."
4,attribute,NC_GLOBAL,contributor_role,String,"collaborator,funder,contributor,processor"
5,attribute,NC_GLOBAL,contributor_role_vocabulary,String,NERC
6,attribute,NC_GLOBAL,contributor_url,String,"https://www.pmel.noaa.gov/co2/,http://cencoos...."
7,attribute,NC_GLOBAL,Conventions,String,"IOOS-1.2, CF-1.6, ACDD-1.3, NCCSV-1.2"
8,attribute,NC_GLOBAL,creator_country,String,USA
9,attribute,NC_GLOBAL,creator_email,String,stung@exploratorium.edu
10,attribute,NC_GLOBAL,creator_institution,String,Exploratorium
11,attribute,NC_GLOBAL,creator_name,String,Exploratorium
12,attribute,NC_GLOBAL,creator_sector,String,nonprofit
13,attribute,NC_GLOBAL,creator_type,String,institution
14,attribute,NC_GLOBAL,creator_url,String,https://www.exploratorium.edu/
15,attribute,NC_GLOBAL,defaultDataQuery,String,"ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,..."
16,attribute,NC_GLOBAL,Easternmost_Easting,double,-122.3978
17,attribute,NC_GLOBAL,featureType,String,TimeSeries
18,attribute,NC_GLOBAL,geospatial_lat_max,double,37.8019
19,attribute,NC_GLOBAL,geospatial_lat_min,double,37.8019
20,attribute,NC_GLOBAL,geospatial_lat_units,String,degrees_north
21,attribute,NC_GLOBAL,geospatial_lon_max,double,-122.3978
22,attribute,NC_GLOBAL,geospatial_lon_min,double,-122.3978
23,attribute,NC_GLOBAL,geospatial_lon_units,String,degrees_east
24,attribute,NC_GLOBAL,geospatial_vertical_max,double,0.0
25,attribute,NC_GLOBAL,geospatial_vertical_min,double,0.0
26,attribute,NC_GLOBAL,geospatial_vertical_positive,String,up
27,attribute,NC_GLOBAL,geospatial_vertical_units,String,m
28,attribute,NC_GLOBAL,history,String,Downloaded from Exploratorium at http://erddap...
29,attribute,NC_GLOBAL,id,int,75587
30,attribute,NC_GLOBAL,infoUrl,String,https://data.cencoos.org/#metadata/75587/station
31,attribute,NC_GLOBAL,institution,String,Exploratorium
32,attribute,NC_GLOBAL,license,String,These data may be used and redistributed for f...
33,attribute,NC_GLOBAL,naming_authority,String,com.axiomdatascience
34,attribute,NC_GLOBAL,Northernmost_Northing,double,37.8019
35,attribute,NC_GLOBAL,platform,String,buoy
36,attribute,NC_GLOBAL,platform_name,String,Exploratorium (pCO2 Buoy)
37,attribute,NC_GLOBAL,platform_vocabulary,String,http://mmisw.org/ont/ioos/platform
38,attribute,NC_GLOBAL,processing_level,String,Level 2
39,attribute,NC_GLOBAL,publisher_country,String,USA
40,attribute,NC_GLOBAL,publisher_email,String,stung@exploratorium.edu
41,attribute,NC_GLOBAL,publisher_institution,String,Exploratorium
42,attribute,NC_GLOBAL,publisher_name,String,Exploratorium
43,attribute,NC_GLOBAL,publisher_sector,String,nonprofit
44,attribute,NC_GLOBAL,publisher_type,String,institution
45,attribute,NC_GLOBAL,publisher_url,String,https://www.exploratorium.edu/
46,attribute,NC_GLOBAL,references,String,https://www.exploratorium.edu/environmental-fi...
47,attribute,NC_GLOBAL,sourceUrl,String,http://erddap.exploratorium.edu:8080/erddap/ta...
48,attribute,NC_GLOBAL,Southernmost_Northing,double,37.8019
49,attribute,NC_GLOBAL,standard_name_vocabulary,String,CF Standard Name Table v72
50,attribute,NC_GLOBAL,station_id,String,75587
51,attribute,NC_GLOBAL,submit_to_ncei,String,true
52,attribute,NC_GLOBAL,summary,String,Timeseries data from 'Exploratorium (pCO2 Buoy...
53,attribute,NC_GLOBAL,time_coverage_end,String,2024-08-20T03:17:00Z
54,attribute,NC_GLOBAL,time_coverage_start,String,2013-05-08T22:47:00Z
55,attribute,NC_GLOBAL,title,String,Exploratorium (pCO2 Buoy)
56,attribute,NC_GLOBAL,Westernmost_Easting,double,-122.3978
57,variable,time,NaN,double,NaN
58,attribute,time,_ChunkSizes,uint,512
59,attribute,time,_CoordinateAxisType,String,Time
60,attribute,time,actual_range,double,"1.36805322E9, 1.72412382E9"
61,attribute,time,axis,String,T
62,attribute,time,calendar,String,gregorian
63,attribute,time,ioos_category,String,Time
64,attribute,time,long_name,String,Time
65,attribute,time,standard_name,String,time
66,attribute,time,time_origin,String,01-JAN-1970 00:00:00
67,attribute,time,units,String,seconds since 1970-01-01T00:00:00Z
68,variable,latitude,NaN,double,NaN
69,attribute,latitude,_CoordinateAxisType,String,Lat
70,attribute,latitude,_FillValue,double,NaN
71,attribute,latitude,actual_range,double,"37.8019, 37.8019"
72,attribute,latitude,axis,String,Y
73,attribute,latitude,ioos_category,String,Location
74,attribute,latitude,long_name,String,Latitude
75,attribute,latitude,standard_name,String,latitude
76,attribute,latitude,units,String,degrees_north
77,variable,longitude,NaN,double,NaN
78,attribute,longitude,_CoordinateAxisType,String,Lon
79,attribute,longitude,_FillValue,double,NaN
80,attribute,longitude,actual_range,double,"-122.3978, -122.3978"
81,attribute,longitude,axis,String,X
82,attribute,longitude,ioos_category,String,Location
83,attribute,longitude,long_name,String,Longitude
84,attribute,longitude,standard_name,String,longitude
85,attribute,longitude,units,String,degrees_east
86,variable,z,NaN,double,NaN
87,attribute,z,_ChunkSizes,uint,509
88,attribute,z,_CoordinateAxisType,String,Height
89,attribute,z,_CoordinateZisPositive,String,up
90,attribute,z,_FillValue,double,NaN
91,attribute,z,actual_range,double,"0.0, 0.0"
92,attribute,z,axis,String,Z
93,attribute,z,ioos_category,String,Location
94,attribute,z,long_name,String,Altitude
95,attribute,z,positive,String,up
96,attribute,z,standard_name,String,altitude
97,attribute,z,units,String,m
98,variable,ppm_of_carbon_dioxide_in_air_in_dry_gas,NaN,double,NaN
99,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,_ChunkSizes,uint,512
100,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,_FillValue,double,-9999.0
101,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,actual_range,double,"351.8, 611.8"
102,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,ancillary_variables,String,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg...
103,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,id,String,1001804
104,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,ioos_category,String,Other
105,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,long_name,String,PPM of Carbon Dioxide in Air in Dry Gas
106,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,missing_value,double,-9999.0
107,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,platform,String,station
108,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,short_name,String,ppm_of_carbon_dioxide_in_air_in_dry_gas
109,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,standard_name,String,ppm_of_carbon_dioxide_in_air_in_dry_gas
110,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,standard_name_url,String,http://mmisw.org/ont/unknown/parameter/ppm_of_...
111,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas,units,String,1e-6
112,variable,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,NaN,int,NaN
113,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,_ChunkSizes,uint,4096
114,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,_FillValue,int,-127
115,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,actual_range,int,"1, 4"
116,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
117,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,flag_values,int,"1, 2, 3, 4, 9"
118,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,ioos_category,String,Other
119,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,long_name,String,PPM of Carbon Dioxide in Air in Dry Gas QARTOD...
120,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,missing_value,int,-127
121,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,references,String,https://github.com/ioos/ioos_qc
122,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,short_name,String,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg
123,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_agg,standard_name,String,aggregate_quality_flag
124,variable,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,NaN,int,NaN
125,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,_ChunkSizes,uint,512
126,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,_FillValue,int,0
127,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,comment,String,11-character string with results of individual...
128,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
129,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,flag_values,int,"1, 2, 3, 4, 9"
130,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,ioos_category,String,Other
131,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,long_name,String,PPM of Carbon Dioxide in Air in Dry Gas QARTOD...
132,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,references,String,https://github.com/ioos/ioos_qc
133,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,short_name,String,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests
134,attribute,ppm_of_carbon_dioxide_in_air_in_dry_gas_qc_tests,standard_name,String,ppm_of_carbon_dioxide_in_air_in_dry_gas qualit...
135,variable,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,NaN,double,NaN
136,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,_ChunkSizes,uint,512
137,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,_FillValue,double,-9999.0
138,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,actual_range,double,"0.0, 1321.3"
139,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,ancillary_variables,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...
140,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,id,String,1001795
141,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,ioos_category,String,Other
142,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,long_name,String,PPM of Carbon Dioxide in Sea Water in Wet Gas
143,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,missing_value,double,-9999.0
144,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,platform,String,station
145,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,short_name,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas
146,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,standard_name,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas
147,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,standard_name_url,String,http://mmisw.org/ont/unknown/parameter/ppm_of_...
148,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas,units,String,1e-6
149,variable,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,NaN,int,NaN
150,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,_ChunkSizes,uint,4096
151,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,_FillValue,int,-127
152,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,actual_range,int,"2, 2"
153,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
154,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,flag_values,int,"1, 2, 3, 4, 9"
155,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,ioos_category,String,Other
156,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,long_name,String,PPM of Carbon Dioxide in Sea Water in Wet Gas ...
157,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,missing_value,int,-127
158,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,references,String,https://github.com/ioos/ioos_qc
159,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,short_name,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...
160,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,standard_name,String,aggregate_quality_flag
161,variable,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,NaN,int,NaN
162,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,_ChunkSizes,uint,512
163,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,_FillValue,int,0
164,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,comment,String,11-character string with results of individual...
165,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
166,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,flag_values,int,"1, 2, 3, 4, 9"
167,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,ioos_category,String,Other
168,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,long_name,String,PPM of Carbon Dioxide in Sea Water in Wet Gas ...
169,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,references,String,https://github.com/ioos/ioos_qc
170,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,short_name,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...
171,attribute,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas_...,standard_name,String,ppm_of_carbon_dioxide_in_sea_water_in_wet_gas ...
172,variable,sea_water_practical_salinity,NaN,double,NaN
173,attribute,sea_water_practical_salinity,_ChunkSizes,uint,512
174,attribute,sea_water_practical_salinity,_FillValue,double,-9999.0
175,attribute,sea_water_practical_salinity,actual_range,double,"-99.0, 32.97"
176,attribute,sea_water_practical_salinity,ancillary_variables,String,sea_water_practical_salinity_qc_agg sea_water_...
177,attribute,sea_water_practical_salinity,id,String,1001796
178,attribute,sea_water_practical_salinity,ioos_category,String,Other
179,attribute,sea_water_practical_salinity,long_name,String,Salinity
180,attribute,sea_water_practical_salinity,missing_value,double,-9999.0
181,attribute,sea_water_practical_salinity,platform,String,station
182,attribute,sea_water_practical_salinity,short_name,String,sea_water_practical_salinity
183,attribute,sea_water_practical_salinity,standard_name,String,sea_water_practical_salinity
184,attribute,sea_water_practical_salinity,standard_name_url,String,http://mmisw.org/ont/cf/parameter/sea_water_pr...
185,attribute,sea_water_practical_salinity,units,String,1e-3
186,variable,sea_water_practical_salinity_qc_agg,NaN,int,NaN
187,attribute,sea_water_practical_salinity_qc_agg,_ChunkSizes,uint,4096
188,attribute,sea_water_practical_salinity_qc_agg,_FillValue,int,-127
189,attribute,sea_water_practical_salinity_qc_agg,actual_range,int,"1, 4"
190,attribute,sea_water_practical_salinity_qc_agg,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
191,attribute,sea_water_practical_salinity_qc_agg,flag_values,int,"1, 2, 3, 4, 9"
192,attribute,sea_water_practical_salinity_qc_agg,ioos_category,String,Other
193,attribute,sea_water_practical_salinity_qc_agg,long_name,String,Salinity QARTOD Aggregate Quality Flag
194,attribute,sea_water_practical_salinity_qc_agg,missing_value,int,-127
195,attribute,sea_water_practical_salinity_qc_agg,references,String,https://github.com/ioos/ioos_qc
196,attribute,sea_water_practical_salinity_qc_agg,short_name,String,sea_water_practical_salinity_qc_agg
197,attribute,sea_water_practical_salinity_qc_agg,standard_name,String,aggregate_quality_flag
198,variable,sea_water_practical_salinity_qc_tests,NaN,int,NaN
199,attribute,sea_water_practical_salinity_qc_tests,_ChunkSizes,uint,512
200,attribute,sea_water_practical_salinity_qc_tests,_FillValue,int,0
201,attribute,sea_water_practical_salinity_qc_tests,comment,String,11-character string with results of individual...
202,attribute,sea_water_practical_salinity_qc_tests,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
203,attribute,sea_water_practical_salinity_qc_tests,flag_values,int,"1, 2, 3, 4, 9"
204,attribute,sea_water_practical_salinity_qc_tests,ioos_category,String,Other
205,attribute,sea_water_practical_salinity_qc_tests,long_name,String,Salinity QARTOD Individual Tests
206,attribute,sea_water_practical_salinity_qc_tests,references,String,https://github.com/ioos/ioos_qc
207,attribute,sea_water_practical_salinity_qc_tests,short_name,String,sea_water_practical_salinity_qc_tests
208,attribute,sea_water_practical_salinity_qc_tests,standard_name,String,sea_water_practical_salinity quality_flag
209,variable,sea_surface_temperature,NaN,double,NaN
210,attribute,sea_surface_temperature,_ChunkSizes,uint,512
211,attribute,sea_surface_temperature,_FillValue,double,-9999.0
212,attribute,sea_surface_temperature,actual_range,double,"9.47, 20.13"
213,attribute,sea_surface_temperature,ancillary_variables,String,sea_surface_temperature_qc_agg sea_surface_tem...
214,attribute,sea_surface_temperature,id,String,1001788
215,attribute,sea_surface_temperature,ioos_category,String,Other
216,attribute,sea_surface_temperature,long_name,String,Sea Surface Temperature
217,attribute,sea_surface_temperature,missing_value,double,-9999.0
218,attribute,sea_surface_temperature,platform,String,station
219,attribute,sea_surface_temperature,short_name,String,sea_surface_temperature
220,attribute,sea_surface_temperature,standard_name,String,sea_surface_temperature
221,attribute,sea_surface_temperature,standard_name_url,String,http://mmisw.org/ont/cf/parameter/sea_surface_...
222,attribute,sea_surface_temperature,units,String,degree_Celsius
223,variable,sea_surface_temperature_qc_agg,NaN,int,NaN
224,attribute,sea_surface_temperature_qc_agg,_ChunkSizes,uint,4096
225,attribute,sea_surface_temperature_qc_agg,_FillValue,int,-127
226,attribute,sea_surface_temperature_qc_agg,actual_range,int,"1, 4"
227,attribute,sea_surface_temperature_qc_agg,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
228,attribute,sea_surface_temperature_qc_agg,flag_values,int,"1, 2, 3, 4, 9"
229,attribute,sea_surface_temperature_qc_agg,ioos_category,String,Other
230,attribute,sea_surface_temperature_qc_agg,long_name,String,Sea Surface Temperature QARTOD Aggregate Quali...
231,attribute,sea_surface_temperature_qc_agg,missing_value,int,-127
232,attribute,sea_surface_temperature_qc_agg,references,String,https://github.com/ioos/ioos_qc
233,attribute,sea_surface_temperature_qc_agg,short_name,String,sea_surface_temperature_qc_agg
234,attribute,sea_surface_temperature_qc_agg,standard_name,String,aggregate_quality_flag
235,variable,sea_surface_temperature_qc_tests,NaN,int,NaN
236,attribute,sea_surface_temperature_qc_tests,_ChunkSizes,uint,512
237,attribute,sea_surface_temperature_qc_tests,_FillValue,int,0
238,attribute,sea_surface_temperature_qc_tests,comment,String,11-character string with results of individual...
239,attribute,sea_surface_temperature_qc_tests,flag_meanings,String,PASS NOT_EVALUATED SUSPECT FAIL MISSING
240,attribute,sea_surface_temperature_qc_tests,flag_values,int,"1, 2, 3, 4, 9"
241,attribute,sea_surface_temperature_qc_tests,ioos_category,String,Other
242,attribute,sea_surface_temperature_qc_tests,long_name,String,Sea Surface Temperature QARTOD Individual Tests
243,attribute,sea_surface_temperature_qc_tests,references,String,https://github.com/ioos/ioos_qc
244,attribute,sea_surface_temperature_qc_tests,short_name,String,sea_surface_temperature_qc_tests
245,attribute,sea_surface_temperature_qc_tests,standard_name,String,sea_surface_temperature quality_flag
246,variable,sea_water_turbidity,NaN,double,NaN
247,attribute,sea_water_turbidity,_ChunkSizes,uint,512
248,attribute,sea_water_turbidity,_FillValue,double,-9999.0
249,attribute,sea_water_turbidity,actual_range,double,"0.0, 0.0"
250,attribute,sea_water_turbidity,ancillary_variables,String,sea_water_turbidity_qc_agg sea_water_turbidity...
251,attribute,sea_water_turbidity,id,String,1001814
252,attribute,sea_water_turbidity,ioos_category,String,Other
253,attribute,sea_water_turbidity,long_name,String,Turbidity
254,attribute,sea_water_turbidity,missing_value,double,-9999.0
255,attribute,sea_water_turbidity,platform,String,station

In [ ]:
# # try searching for all possibly matching stations for this time (there will be a ton)
# min_time = "2018-10-01T00:00:00Z"
# max_time = "2024-01-01T00:00:00Z"

# kw = {
#     "min_time": min_time,
#     "max_time": max_time,
# }

# FF["time_coverage_start"] = np.nan
# FF["time_coverage_end"] = np.nan
# FF["geospatial_lat_min"] = np.nan
# FF["geospatial_lat_max"] = np.nan
# FF["geospatial_lon_min"] = np.nan
# FF["geospatial_lon_max"] = np.nan
# FF["geospatial_lat_units"] = ''
# FF["geospatial_lon_units"] = ''
# FF["check_sum"] = 1

In [ ]:
# keep 'latitude' 'longitude' 'time' variables (min/max of each?)
searchterms = r"chl|turb|sedi|par|phot|secchi|ssc"

for jj in range(len(FF)):
    if jj % 100 ==0:
        print(jj)# give a printout every 100 for my sanity
    
    # make the info URL for this site for this time range
    e = ERDDAP(server=FF['url'][jj], protocol="tabledap", response="csv")
    e.dataset_id = FF['sites'][jj]
    e.constraints = {"time>=": min_time, "time<=": max_time}
    info_url = e.get_info_url()
#     print(info_url)

    # make a dataframe for all the metadata for this station
    # some of these urls are bogus - if fail then fill with NaNs
    try:
        df = pd.read_csv(info_url)# make a dataframe for all the metadata for this station
    except:
        FF.loc[jj,"check_sum"] = np.nan
#         print(str(jj),' does not exist')    
    else:
        # search the Variable Names for relevant measurements and minimum amount of metadata (lat/lon)
        idx = df["Variable Name"].str.contains(searchterms, flags = re.IGNORECASE)
        if any(idx==True)==True:# if there IS a relevant variable        
            e.constraints = {}# find the entire time range for the station and its location
            info_url = e.get_info_url() # just get metadata instead of downloading data(e.get_download_url)
            try:
                df = pd.read_csv(info_url)# make a dataframe for all the metadata for this station
            except:
                FF.loc[jj,"check_sum"] = np.nan
#                 print(str(jj),' does not exist')
            else:

                # some metadata is missing - leave blank if any is empty
                try:
                    FF.loc[jj,"time_coverage_start"] = df.loc[df['Attribute Name']=='time_coverage_start', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"time_coverage_end"] = df.loc[df['Attribute Name']=='time_coverage_end', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lat_min"] = df.loc[df['Attribute Name']=='geospatial_lat_min', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lat_max"] = df.loc[df['Attribute Name']=='geospatial_lat_max', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lon_min"] = df.loc[df['Attribute Name']=='geospatial_lon_min', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lon_max"] = df.loc[df['Attribute Name']=='geospatial_lon_max', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lat_units"] = df.loc[df['Attribute Name']=='geospatial_lat_units', 'Value'].item()
                except:
                    pass

                try:
                    FF.loc[jj,"geospatial_lon_units"] = df.loc[df['Attribute Name']=='geospatial_lon_units', 'Value'].item()
                except:
                    pass

        else: # otherwise ignore this site
#             print(str(jj),' has no relevant data')
            FF.loc[jj,"check_sum"] = np.nan

FF = FF.dropna(subset="check_sum")  
FF.to_pickle("all_relevant_stations.pkl")

In [ ]:
FF_save = FF.drop({'check_sum','geospatial_lat_units','geospatial_lon_units'},axis=1)
FF_save.to_csv('erddap_station_search_results.csv',index=False)
print(len(FF_save))
FF_save

In [ ]:
# # keep 'latitude' 'longitude' 'time' variables (min/max of each?)
# searchterms = r"chl|turb|sedi|par|phot|secchi|ssc"

# for jj in range(len(FF)):

#     # make the info URL for this site for this time range
#     e = ERDDAP(server=FF['url'][jj], protocol="tabledap", response="csv")
#     e.dataset_id = FF['sites'][jj]
#     e.constraints = {"time>=": min_time, "time<=": max_time}
#     info_url = e.get_info_url()
# #     print(info_url)

#     # make a dataframe for all the metadata for this station
#     df = pd.read_csv(info_url)

#     # search the Variable Names for relevant measurements and minimum amount of metadata (lat/lon)
#     idx = df["Variable Name"].str.contains(searchterms, flags = re.IGNORECASE)
#     idx2 = df["Attribute Name"].str.contains(r"geospatial_lat_min")
#     if (any(idx==True)==True) & (any(idx2==True)==True): # if there IS a relevant variable
#         # save the entire time range for the station and its location
#         e.constraints = {}
#         info_url = e.get_info_url() # just get metadata instead of downloading data(e.get_download_url)
#         # make a dataframe for all the metadata for this station
#         df = pd.read_csv(info_url)
        
#         FF.loc[jj,"min_time"] = df.loc[df['Attribute Name']=='time_coverage_start', 'Value'].item()
#         FF.loc[jj,"max_time"] = df.loc[df['Attribute Name']=='time_coverage_end', 'Value'].item()
#         FF.loc[jj,"min_lat"] = df.loc[df['Attribute Name']=='geospatial_lat_min', 'Value'].item()
#         FF.loc[jj,"max_lat"] = df.loc[df['Attribute Name']=='geospatial_lat_max', 'Value'].item()
#         FF.loc[jj,"min_lon"] = df.loc[df['Attribute Name']=='geospatial_lon_min', 'Value'].item()
#         FF.loc[jj,"max_lon"] = df.loc[df['Attribute Name']=='geospatial_lon_max', 'Value'].item()
#         FF.loc[jj,"lat_unit"] = df.loc[df['Attribute Name']=='geospatial_lat_units', 'Value'].item()
#         FF.loc[jj,"lon_unit"] = df.loc[df['Attribute Name']=='geospatial_lon_units', 'Value'].item()
#     else: # otherwise ignore this site
#         print(str(jj),' has no relevant data')
    
# FF