Goal: pull out 1 buoy record that has ssc&chla and search for matching icesat2 granules

To do:
- Load info for 1 relevant station
- Find all matching atl granules and save times from file names
- Compare times to see if any matching buoy times

In [1]:
%pip install --quiet "sliderule @ git+https://github.com/SlideRuleEarth/sliderule#subdirectory=clients/python"

Note: you may need to restart the kernel to use updated packages.

In [1]:
%pip install --quiet erddapy

Note: you may need to restart the kernel to use updated packages.

In [1]:
from erddapy import ERDDAP
import pandas as pd
import numpy as np
from sliderule import sliderule, icesat2, earthdata
from datetime import datetime, timezone, timedelta

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

sliderule.init(verbose=False)

Client (version (4, 5, 3)) is out of date with the server (version (4, 8, 3))

False

In [2]:
def fname2datetime(fname):
    y = int(fname[6:10])
    m = int(fname[10:12])
    d = int(fname[12:14])
    H = int(fname[14:16])
    M = int(fname[16:18])
    S = int(fname[18:20])

    t = datetime(y,m,d,H,M,S, tzinfo=timezone.utc)
    return t

def buoy_bound_box(lat,lon,buffer_km):
    # define a buffer distance around the buoy to search for icesat-2 data
    lat_buff = buffer_km/111 # convert buffer distance to frac of 1 deg lat
    lon_buff = buffer_km/(111*np.cos(lat*np.pi/180)) # convert buffer distance to frac of 1 deg lon
    # define bounding box around the buoy (WSEN)
    # example: bbox = [-108.3, 39.2, -107.8, 38.8]
    # bbox = [lon-lon_buff,lat+lat_buff,lon+lon_buff,lat-lat_buff]
    # region = sliderule.toregion(bbox)
    minx = lon - lon_buff
    miny = lat - lat_buff
    maxx = lon + lon_buff
    maxy = lat + lat_buff

    poly = [{'lon': minx, 'lat': miny},
            {'lon': maxx, 'lat': miny},
            {'lon': maxx, 'lat': maxy},
            {'lon': minx, 'lat': maxy},
            {'lon': minx, 'lat': miny}] # Closing the loop by repeating the first point
    return poly

In [3]:
# load a list of all the relevant ERDDAPs and their urls
FF = pd.read_pickle("labeled_relevant_stations.pkl")

In [4]:
# there are ltos of different searches to do...
FF = FF[(FF.url=='https://gcoos5.geos.tamu.edu/erddap/') & (FF.radiation == True) & (FF.buoy == False)]
FF.reset_index(drop=True, inplace=True)

FF["geospatial_lat_min"] = pd.to_numeric(FF["geospatial_lat_min"])
FF["geospatial_lon_min"] = pd.to_numeric(FF["geospatial_lon_min"])
FF["geospatial_lat_max"] = pd.to_numeric(FF["geospatial_lat_max"])
FF["geospatial_lon_max"] = pd.to_numeric(FF["geospatial_lon_max"])
FF["photon_data"] = False
FF

,sites,url,time_coverage_start,time_coverage_end,geospatial_lat_min,geospatial_lat_max,geospatial_lon_min,geospatial_lon_max,geospatial_lat_units,geospatial_lon_units,check_sum,buoy,glider,ship,turb,ssc,phot,chl,turbid,photo,radiation,photon_data
0,WS18285_WS18285_Decktst,https://gcoos5.geos.tamu.edu/erddap/,2018-10-11T18:24:49Z,2018-10-11T18:24:49Z,25.731333,25.731333,-80.162000,-80.162000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
1,WS18285_WS18285_Decktst2,https://gcoos5.geos.tamu.edu/erddap/,2018-10-12T11:03:42Z,2018-10-12T11:03:42Z,25.731333,25.731333,-80.162000,-80.162000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
2,WS18285_WS18285_WS18285_Stn_16,https://gcoos5.geos.tamu.edu/erddap/,2018-10-19T08:04:39Z,2018-10-19T08:04:39Z,24.671000,24.671000,-81.204000,-81.204000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
3,WS18285_WS18285_WS18285_Stn_18,https://gcoos5.geos.tamu.edu/erddap/,2018-10-19T08:55:14Z,2018-10-19T08:55:14Z,24.597500,24.597500,-81.186333,-81.186333,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
4,WS18285_WS18285_WS18285_Stn_2,https://gcoos5.geos.tamu.edu/erddap/,2018-10-12T14:36:07Z,2018-10-12T14:36:07Z,25.642167,25.642167,-80.104000,-80.104000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,WS23061_WS23061_WS23061_Kelble_Stn_V7,https://gcoos5.geos.tamu.edu/erddap/,2023-03-05T10:20:54Z,2023-03-05T10:20:54Z,26.874667,26.874667,-82.891167,-82.891167,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
1572,WS23061_WS23061_WS23061_Kelble_Stn_V8,https://gcoos5.geos.tamu.edu/erddap/,2023-03-05T09:35:24Z,2023-03-05T09:35:24Z,26.835833,26.835833,-82.953833,-82.953833,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
1573,WS23061_WS23061_WS23061_Kelble_Stn_V9,https://gcoos5.geos.tamu.edu/erddap/,2023-03-05T08:14:57Z,2023-03-05T08:14:57Z,26.729333,26.729333,-83.099833,-83.099833,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
1574,WS23061_WS23061_WS23061_Kelble_Stn_WS,https://gcoos5.geos.tamu.edu/erddap/,2023-03-08T17:51:03Z,2023-03-08T17:51:03Z,24.474833,24.474833,-81.715000,-81.715000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False
1575,WS23061_WS23061_WS23061_Kelble_Stn002,https://gcoos5.geos.tamu.edu/erddap/,2023-03-02T11:25:49Z,2023-03-02T11:25:49Z,25.642333,25.642333,-80.104000,-80.104000,degrees_north,degrees_east,1.0,False,False,False,False,False,True,True,False,True,True,False

In [23]:
test = datetime.fromisoformat('2018-10-11T18:24:49Z')
test

datetime.datetime(2018, 10, 11, 18, 24, 49, tzinfo=datetime.timezone.utc)

In [27]:
# search parameters
search_hrs = 3
search_km = 3
jj = 0


# define a search region around the buoy 
lat = FF['geospatial_lat_min'][jj]
lon = FF['geospatial_lon_min'][jj]
poly = buoy_bound_box(lat,lon,search_km)

# add a time buffer to search for relevant sat data for each cast
t = datetime.fromisoformat(FF['time_coverage_start'][jj])

t_start = (t-timedelta(hours=search_hrs)).strftime("%Y-%m-%dT%H:%M:%SZ")
t_end = (t+timedelta(hours=search_hrs)).strftime("%Y-%m-%dT%H:%M:%SZ")


# try to download the associated buoy data
buoy = e.to_pandas()           



# Build ATL03 Request
parms = {"poly": poly,
         "t0": t_start,
         "t1": t_end,
         "track": 0,
         "len": 20.0,
         "pass_invalid": True,
         "cnf": -2, # returns all photons
         "srt": icesat2.SRT_OCEAN}
atl_gdb = icesat2.atl03sp(parms)



if len(atl_gdb)>0:            
    FF.loc[jj,"photon_data"] = True            
    # atl_gdb.to_pickle('icesat2_'+str(e.dataset_id)+'_'+str(t_start)+'.pkl')
    print('success '+ e.dataset_id + ' ' + str(t_start))
    print('no. of photons: '+str(len(atl_gdb)))
    # buoy.to_csv('data_'+str(e.dataset_id)+'_'+str(t_start)+'.csv')

In [28]:
# search parameters
search_hrs = 3
search_km = 3

# loop through each cast:
for jj in range(len(FF)):
# for jj in range(4,7):
    print('working on ' + str(jj+1)+'/'+str(len(FF)))
    
    # set up erddap request:
    e = ERDDAP(server=FF['url'][jj],
               protocol="tabledap",
               response="csv")
    e.dataset_id = FF['sites'][jj]
    # try to download the associated buoy data - skip this entry if it fails
    try:
        buoy = e.to_pandas()           
    except:
        continue

    # define a search region around the cast 
    lat = FF['geospatial_lat_min'][jj]
    lon = FF['geospatial_lon_min'][jj]
    poly = buoy_bound_box(lat,lon,search_km)

    # add a time buffer to search for relevant sat data for each cast
    t = datetime.fromisoformat(FF['time_coverage_start'][jj])
    t_start = (t-timedelta(hours=search_hrs)).strftime("%Y-%m-%dT%H:%M:%SZ")
    t_end = (t+timedelta(hours=search_hrs)).strftime("%Y-%m-%dT%H:%M:%SZ")
    
    # Build ATL03 Request
    parms = {"poly": poly,
             "t0": t_start,
             "t1": t_end,
             "track": 0,
             "len": 20.0,
             "pass_invalid": True,
             "cnf": -2, # returns all photons
             "srt": icesat2.SRT_OCEAN}
    atl_gdb = icesat2.atl03sp(parms)

   
    if len(atl_gdb)>0:            
        FF.loc[jj,"photon_data"] = True            
        atl_gdb.to_pickle('icesat2_'+str(e.dataset_id)+'.pkl')
        print('success '+ e.dataset_id + ' ' + str(t_start))
        print('no. of photons: '+str(len(atl_gdb)))
        buoy.to_csv('data_'+str(e.dataset_id)+'.csv')

working on 1/1576
working on 2/1576
working on 3/1576
working on 4/1576
working on 5/1576
working on 6/1576
working on 7/1576
working on 8/1576
working on 9/1576
working on 10/1576
working on 11/1576
working on 12/1576
working on 13/1576
working on 14/1576
working on 15/1576
working on 16/1576
working on 17/1576
working on 18/1576
working on 19/1576
working on 20/1576
working on 21/1576
working on 22/1576
working on 23/1576
working on 24/1576
working on 25/1576
working on 26/1576
working on 27/1576
working on 28/1576
working on 29/1576
working on 30/1576
working on 31/1576
working on 32/1576
working on 33/1576
working on 34/1576
working on 35/1576
working on 36/1576
working on 37/1576
working on 38/1576
working on 39/1576
working on 40/1576
working on 41/1576
working on 42/1576
working on 43/1576
working on 44/1576
working on 45/1576
working on 46/1576
working on 47/1576
working on 48/1576
working on 49/1576
working on 50/1576
working on 51/1576
working on 52/1576
working on 53/1576
working on 54/1576
working on 55/1576
working on 56/1576
working on 57/1576
working on 58/1576
working on 59/1576
working on 60/1576
working on 61/1576
working on 62/1576
working on 63/1576
working on 64/1576
working on 65/1576
working on 66/1576
working on 67/1576
working on 68/1576
working on 69/1576
working on 70/1576
working on 71/1576
working on 72/1576
working on 73/1576
working on 74/1576
working on 75/1576
working on 76/1576
working on 77/1576
working on 78/1576
working on 79/1576
working on 80/1576
success WS18351_WS18351_STA18 2018-12-18T05:19:41Z
no. of photons: 43020
working on 81/1576
working on 82/1576
working on 83/1576
working on 84/1576
working on 85/1576
working on 86/1576
working on 87/1576
working on 88/1576
working on 89/1576
working on 90/1576
working on 91/1576
working on 92/1576
working on 93/1576
working on 94/1576
working on 95/1576
working on 96/1576
working on 97/1576
working on 98/1576
working on 99/1576
working on 100/1576
working on 101/1576
working on 102/1576
working on 103/1576
working on 104/1576
working on 105/1576
working on 106/1576
working on 107/1576
working on 108/1576
working on 109/1576
working on 110/1576
working on 111/1576
working on 112/1576
working on 113/1576
working on 114/1576
working on 115/1576
working on 116/1576
working on 117/1576
working on 118/1576
working on 119/1576
working on 120/1576
working on 121/1576
working on 122/1576
working on 123/1576
working on 124/1576
working on 125/1576
working on 126/1576
working on 127/1576
working on 128/1576
working on 129/1576
working on 130/1576
working on 131/1576
working on 132/1576
working on 133/1576
working on 134/1576
working on 135/1576
working on 136/1576
working on 137/1576
working on 138/1576
working on 139/1576
working on 140/1576
working on 141/1576
working on 142/1576
working on 143/1576
working on 144/1576
working on 145/1576
working on 146/1576
working on 147/1576
working on 148/1576
working on 149/1576
working on 150/1576

KeyboardInterrupt